.header {
  position: absolute;
  top: 0;
  height: 2em;
  width: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0);
  margin-bottom: 0;
}
.header.ui-scrollpoint {
  position: fixed;
  top: 0;
  background-color: #c23b22;
}
.header.ui-scrollpoint .navbar-MT {
  background-color: #c23b22;
  border-radius: 0;
  font-size: 18px;
}
.header.ui-scrollpoint .navbar-brand {
  color: #fff;
  font-family: 'Cookie';
  font-size: 24px;
}
.header.ui-scrollpoint .navbar-brand:hover {
  color: #848484;
}
.header.ui-scrollpoint .nav > li > a {
  color: #fff;
  font-family: 'Raleway';
  font-size: 16px;
  padding-top: 20px;
}
.header.ui-scrollpoint .logoContainer {
  background-color: #fff;
  opacity: 0;
  height: 25px;
  width: 25px;
}
.header.ui-scrollpoint .logo {
  height: 25px;
  width: 25px;
  display: none;
}
.header .navbar-MT {
  width: 100%;
  background: rgba(255, 255, 255, 0);
}
.header .navbar-brand {
  color: #fff;
  font-family: 'Cookie';
  font-size: 80px;
}
.header .navbar-brand:hover {
  color: #c23b22;
}
.header .nav > li > a {
  color: #fff;
  font-family: 'Raleway';
  font-size: 28px;
  padding-top: 40px;
}
.header .logo {
  height: 75px;
  width: 75px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
.landingpage .landing {
  background: url(../images/landing.png) center no-repeat;
  background-size: 100% 100%;
  height: 40em;
  padding-top: 20em;
  position: relative;
}
.landingpage .landingText {
  color: #ffffff;
  font: 60px / 26px 'Cookie';
  text-align: center;
  height: 1em;
}
.landingpage .appstore {
  background: url(../images/appstore.png) center no-repeat;
  height: 49px;
  cursor: pointer;
}
.landingpage .googleplay {
  background: url(../images/googleplay.png) center no-repeat;
  height: 49px;
  cursor: pointer;
}
.landingpage .landingButtonContainer {
  bottom: 0;
  position: absolute;
}
.landingpage .landingButton {
  cursor: pointer;
  text-align: center;
  font-size: 16pt;
  background-color: #c23b22;
  color: #fff;
  padding-top: .3em;
  padding-bottom: .3em;
  width: 94%;
  margin-left: 6%;
  border-radius: .4em .4em 0 0;
}
.landingpage .center {
  text-align: center;
}
.landingpage .calloutContainer {
  display: block;
  padding-top: 3em;
}
.landingpage .callout {
  height: 7.5em;
  width: 100%;
  padding-top: 1.7em;
  background: url(../images/callout.png) no-repeat center;
}
.landingpage .calloutIcon {
  color: #fff;
}
.landingpage .calloutHeader {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 1.5em;
  padding-top: .5em;
  padding-bottom: .5em;
}
.landingpage .calloutText {
  font-size: 1em;
  color: #848484;
  padding-left: 4.5em;
  padding-right: 4.5em;
}
.landingpage .manage {
  background: url(../images/manage.png) no-repeat center;
  height: 26em;
  background-size: 100% 100%;
  background-color: #e3e3e3;
  margin-top: 5em;
}
.landingpage .manageContainer {
  padding-left: 8em;
  padding-right: 8em;
  padding-top: 2.5em;
}
.landingpage .manageTitle {
  font-family: 'Raleway';
  font-size: 1.5em;
  font-weight: bold;
  color: #c23b22;
  margin-bottom: 1em;
}
.landingpage .manageText {
  font-family: 'Helvetica Neue';
  color: #848484;
  font-size: 1em;
}
.landingpage .tour {
  background-color: #fff;
  height: 40em;
}
.landingpage .tourHeader {
  color: #c23b22;
  font-family: 'Raleway';
  font-size: 18pt;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 3em;
}
.landingpage .tourTitle {
  color: #c23b22;
  font-family: 'Raleway';
  font-size: 16pt;
  font-weight: bold;
  margin-left: 2.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  height: 1.5em;
}
.landingpage .tourText {
  color: #848484;
  margin-left: 3em;
  padding-right: 15em;
  height: 12em;
}
.landingpage .tourImage {
  width: 65em;
  margin-top: -4em;
}
.landingpage .tourButton {
  cursor: pointer;
  margin-top: 1em;
  margin-left: 3em;
  color: #fff;
  background-color: #c23b22;
  width: 10em;
  padding: .5em;
  text-align: center;
  border-radius: .4em;
}
.landingpage .tourCount {
  color: #848484;
  margin-left: 3em;
  margin-top: 1em;
}
.landingpage .tourControlContainer {
  color: #848484;
  margin-left: 3em;
  margin-top: .5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.landingpage .tourControl {
  cursor: pointer;
  display: inline-block;
  margin-right: .4em;
}
.landingpage .subscribe {
  background: url(../images/subscribe.png) no-repeat center;
  background-size: 100% 100%;
  height: 34.2em;
  padding-top: 15em;
}
.landingpage .subscribeText {
  color: #fff;
  font-family: 'Raleway';
  text-align: center;
  font-size: 22pt;
  margin-bottom: 1em;
}
.landingpage .subscribeInputContainer {
  padding-left: 4em;
  padding-right: 4em;
}
.landingpage .subscribeInput {
  border: 0;
}
.landingpage .input-group-btn .subscribeButton {
  background-color: #c23b22;
  border: 0;
}
.landingpage .subscribeIcon {
  color: #fff;
}
.mainContent {
  z-index: 1;
  font: 'Helvetica Neue';
  font-size: 18px;
  margin-top: -1em;
}
.footer {
  background-color: #e3e3e3;
  padding-top: 2em;
  padding-bottom: 2em;
}
.footerText {
  display: inline;
  color: #848484;
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
}
