.sidebarContainer {
  background-color: #2F323B;
}
.sidebarContainer .navContainer {
  padding-left: 15px;
}
.sidebarContainer h1 {
  font-size: 16px;
  margin-bottom: 0px;
}
.sidebarContainer .sidebarLink {
  cursor: pointer;
  padding-left: 15px;
  padding-top: 10px;
}
.header {
  line-height: 50px;
  background-color: #22242B;
  color: #cccccc;
}
.header .headerItem {
  cursor: pointer;
  display: inline;
  margin-right: 20px;
  font-size: 15px;
}
.header .headerItem .headerItemText {
  display: inline;
  margin-right: 10px;
}
.header .headerItem .fa {
  font-size: 20px;
  line-height: 20px;
}
.header .headerItem:focus {
  border: 0;
  outline: 0;
}
.header .menubutton {
  padding-left: 15px;
}
.myEventsContainer .myEvent {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.myEventsContainer .myEvent md-content {
  line-height: inherit;
}
.myEventsContainer .myEvent .eventName {
  display: inline;
  width: 100px;
  height: 48px;
  line-height: 48px;
  font-weight: bold;
  color: #848484;
}
.myEventsContainer .myEvent .md-button {
  background-color: #c23b22;
  color: #fff;
  float: right;
}
.myEventsContainer .myEvent .md-button:hover {
  background-color: darkred;
}
.eventOverviewContainer {
  color: #848484;
}
.eventOverviewContainer md-toolbar {
  background-color: #c23b22;
}
.eventOverviewContainer .eventOverview md-toolbar {
  text-align: center;
  font-size: 36px;
}
.eventOverviewContainer .eventOverview .eventImage {
  width: 100%;
  height: 200px;
}
.eventOverviewContainer .eventOverview .eventInfo {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.eventOverviewContainer .attendeesCard {
  overflow-y: hidden;
  height: 100%;
}
.eventOverviewContainer .attendeesCard md-list {
  padding: 0 0;
}
.eventOverviewContainer .attendeesCard .attendee {
  border-bottom: 1px solid #848484;
  padding-top: 10px;
  padding-bottom: 10px;
}
.eventOverviewContainer .attendeesCard .attendee:last-child {
  border-bottom: 0px;
}
.eventOverviewContainer .attendeesCard .attendee .attendeeName {
  width: 100px;
}
body {
  background-color: #8565c4;
}
md-toolbar {
  min-height: 50px;
  height: 50px;
}
.mainContent {
  background-color: #e3e3e3;
}
