.sidebarContainer {
  background-color: #2F323B;
  font-family: 'Lato', sans-serif;
}
.sidebarContainer .sidebar {
  background: none;
}
.sidebarContainer .sidebar ul {
  padding: 0;
  margin-top: 5px;
}
.sidebarContainer .sidebar button {
  width: 100%;
  padding: 0;
  position: relative;
  margin: 0;
  text-align: left;
  padding-left: 15px;
  height: 60px;
  text-transform: none;
  font-weight: bold;
  color: white;
}
.sidebarContainer .sidebar button i {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  margin-right: 10px;
}
.sidebarContainer .sidebar button.active {
  background-color: #c23b22;
}
.sidebarContainer .navContainer {
  margin-left: 15px;
  margin-right: 15px;
}
.sidebarContainer .userContainer {
  margin-top: 15px;
  margin-bottom: 30px;
}
.sidebarContainer .userContainer .image {
  border: 1px solid #89a;
  width: 96px;
  height: 97px;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
}
.sidebarContainer .userContainer img {
  display: block;
  margin: 0 auto;
  width: 100px;
  border-radius: 50px;
  margin-left: -2px;
  margin-top: -2px;
}
.sidebarContainer .userContainer h1 {
  font-size: 18px;
  text-align: center;
}
.sidebarContainer h1 {
  font-size: 15px;
  margin-bottom: 0px;
  color: white;
}
.sidebarContainer .sidebarLink {
  cursor: pointer;
  padding-left: 0px;
  padding-top: 10px;
}
.header {
  line-height: 50px;
  background-color: #22242B;
  color: #cccccc;
}
.header .logoContainer {
  line-height: 50px;
  height: 50px;
}
.header .logoContainer .title {
  font-family: 'Courgette';
  display: inline;
  line-height: 50px;
  height: 50px;
  position: absolute;
  font-size: 30px;
}
.header .headerItem {
  cursor: pointer;
  display: inline;
  margin-right: 20px;
  font-size: 15px;
  text-align: right;
}
.header .headerItem .headerItemText {
  display: inline;
  margin-right: 10px;
}
.header .headerItem .fa {
  font-size: 20px;
  line-height: 20px;
}
.header .headerItem:focus {
  border: 0;
  outline: 0;
}
.header .headerItem:first-of-type {
  text-align: left;
}
.header .headerItem:last-of-type {
  margin-left: -90px;
}
.header .menubutton {
  padding-left: 15px;
}
.header .logo {
  height: 50px;
}
.myEventsContainer .myEvent {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.myEventsContainer .myEvent md-content {
  line-height: inherit;
}
.myEventsContainer .myEvent .eventName {
  display: inline;
  width: 100px;
  height: 48px;
  line-height: 48px;
  font-weight: bold;
  color: #848484;
}
.myEventsContainer .myEvent .md-button {
  background-color: #c23b22;
  color: #fff;
  float: right;
}
.myEventsContainer .myEvent .md-button:hover {
  background-color: darkred;
}
.eventOverviewContainer {
  color: #848484;
}
.eventOverviewContainer md-toolbar {
  background-color: #c23b22;
}
.eventOverviewContainer .eventOverview md-toolbar {
  text-align: center;
  font-size: 36px;
}
.eventOverviewContainer .eventOverview .eventImage {
  width: 100%;
  height: 200px;
}
.eventOverviewContainer .eventOverview .eventInfo {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.eventOverviewContainer .attendeesCard {
  overflow-y: hidden;
  height: 100%;
}
.eventOverviewContainer .attendeesCard md-list {
  padding: 0 0;
}
.eventOverviewContainer .attendeesCard .attendee {
  border-bottom: 1px solid #848484;
  padding-top: 10px;
  padding-bottom: 10px;
}
.eventOverviewContainer .attendeesCard .attendee:last-child {
  border-bottom: 0px;
}
.eventOverviewContainer .attendeesCard .attendee .attendeeName {
  width: 100px;
}
body {
  background-color: #8565c4;
}
md-toolbar {
  min-height: 50px;
  height: 50px;
}
.mainContent {
  background-color: #e3e3e3;
}
