@MT_RED: #c23b22;
@MT_GRAY: #848484;
@MT_LGRAY: #e3e3e3;
@MT_WHITE: #fff;
@MT_FONT_HEADER: 'Raleway';
@MT_FONT_FANCY: 'Cookie';
@MT_FONT_TEXT: 'Helvetica Neue';
.header {
    position: absolute;
    top:0;
    height: 3em;
    width: 100%;
    z-index: 2;
    background: rgba(255,255,255,0);
    margin-bottom: 0;
    &.ui-scrollpoint {
        position:fixed;
        top:0;
        background-color: @MT_RED;
    }
}

.navbar-MT {
    //background-color: @MT_RED;
    width: 100%;
    background: rgba(255,255,255,0);
    &.ui-scrollpoint {
        background-color: @MT_RED;
        border-radius: 0;
    }
}
.ui-scrollpoint {
    background-color: @MT_RED;
    border-radius: 0;
    position:fixed;
    top:0;
}
.navbar-brand {
    color: @MT_WHITE;
    font-family: @MT_FONT_FANCY;
    &:hover {
        color: @MT_GRAY;
    }
}

.nav >li>a {
    color: @MT_WHITE;
    font-family: @MT_FONT_HEADER;
}

.mainContent {
    z-index: 1;
    font: @MT_FONT_TEXT;
    font-size: 18px;
    margin-top: 0em;
}

.landing {
    background: url(../images/landing.png) center no-repeat;
    background-size: 100% 100%;
    height: 46em;
    padding-top: 20em;
    //margin-top: 3em;
    position: relative;
}

.landingText {
    color: #ffffff;
    font: 60px / 26px @MT_FONT_FANCY;
    text-align: center;
    height: 1em;
}

.appstore {
    background: url(../images/appstore.png) center no-repeat;
    height: 49px;
    cursor: pointer;
}

.googleplay {
    background: url(../images/googleplay.png) center no-repeat;
    height: 49px;
    cursor: pointer;
}
.landingButtonContainer {
    bottom: 0;
    position: absolute;
}
.landingButton {
    cursor: pointer;
    text-align: center;
    font-size: 16pt;
    background-color: @MT_RED;
    color: @MT_WHITE;
    padding-top: .3em;
    padding-bottom: .3em;
    width: 94%;
    margin-left: 6%;
    border-radius: .4em .4em 0 0;
}

.center {
    text-align: center;
}

.calloutContainer {
    display: block;
    margin-top: 3em;
}

.callout {
    height: 7.5em;
    width: 100%;
    margin-top: 2em;
    padding-top: 1.7em;
    background: url(../images/callout.png) no-repeat center;
}

.calloutIcon {
    color: @MT_WHITE;
}

.calloutHeader {
    font-family: @MT_FONT_HEADER;
    font-weight: bold;
    font-size: 14pt;
    padding-top: .5em;
    padding-bottom: .5em;
}

.calloutText {
    font-size: 10pt;
    color: @MT_GRAY;
    padding-left: 4.8em;
    padding-right: 4.8em;
}

.manage {
    background: url(../images/manage.png) no-repeat center;
    height: 26em;
    background-size: 100% 100%;
    background-color: @MT_LGRAY;
    margin-top: 5em;
}

.manageContainer {
    padding-left: 15em;
    padding-right: 10em;
    padding-top: 5em;
}

.manageTitle {
    font-family: @MT_FONT_HEADER;
    font-size: 14pt;
    font-weight: bold;
    color: @MT_RED;
    margin-bottom: 1em;
}
.manageText {
    font-family: @MT_FONT_TEXT;
    color: @MT_GRAY;
}

.tour {
    background-color: @MT_WHITE;
    height: 35em;
}

.tourHeader {
    color: @MT_RED;
    font-family: @MT_FONT_HEADER;
    font-size: 18pt;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 3em;
}

.tourTitle {
    color: @MT_RED;
    font-family: @MT_FONT_HEADER;
    font-size: 16pt;
    font-weight: bold;
    margin-left: 2.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    height: 1.5em;
}

.tourText {
    color: @MT_GRAY;
    margin-left: 3em;
    padding-right: 15em;
    height: 12em;
}

.tourImage {
    width: 65em;
    margin-top: -4em;
}

.tourButton {
    cursor: pointer;
    margin-top: 1em;
    margin-left: 3em;
    color: @MT_WHITE;
    background-color: @MT_RED;
    width: 10em;
    padding: .5em;
    text-align: center;
    border-radius: .4em;
}
.tourCount {
    color: @MT_GRAY;
    margin-left: 3em;
    margin-top: 1em;
}
.tourControlContainer {
    color: @MT_GRAY;
    margin-left: 3em;
    margin-top: .5em;
    user-select: none;
}
.tourControl {
    cursor: pointer;
    display: inline-block;
    margin-right: .4em;
}

.subscribe {
    background: url(../images/subscribe.png) no-repeat center;
    background-size: contain;
    height: 34.2em;
    padding-top: 15em;
}

.subscribeText {
    color: @MT_WHITE;
    font-family: @MT_FONT_HEADER;
    text-align: center;
    font-size: 22pt;
    margin-bottom: 1em;
}

.subscribeInputContainer {
    padding-left: 4em;
    padding-right: 4em;
}

.subscribeInput {
    border: 0;
}

.input-group-btn .subscribeButton {
    background-color: @MT_RED;
    border: 0;
}
.subscribeIcon {
    color: @MT_WHITE;
}

.footer {
    background-color: @MT_LGRAY;
    padding-top: 2em;
    padding-bottom: 2em;
}

.footerText {
    display: inline;
    color: @MT_GRAY;
    padding-left: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
}