<div class="navbar navbar-MT" role="navigation">
    <div class="container">
        <div class="row">
            <div class="navbar-header col-lg-4 col-lg-offset-1">
                <a class="navbar-brand" href="#/">
                        Mr Tikit
                    </a>
                <div class="logoContainer">
                    <img class="logo" src="images/logo.png">
                </div>
            </div>
            <div class="collapse navbar-collapse col-lg-5 col-lg-offset-2">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/">Find Event</a>
                    </li>
                    <li>
                        <a href="#/about">About</a>
                    </li>
                    <li>
                        <a href="#/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>