<!--
<md-toolbar class="sideHeader" ng-click="go('/')">
    <div><img class="logo" src='images/logo_bowtie.png' />
        <div class="logoText" ng-class="{'collapsed' : collapsed}">MrTikit</div>
    </div>
</md-toolbar>
-->
<div class='userContainer'>
    <div class='image'>
        <img src='https://graph.facebook.com/10207926613950779/picture?type=large'/>
    </div>
    <h1>Steve Calabro</h1>
</div>
<div class='navContainer'>
    <h1>Administration</h1>
    <ul>
        <li class="sidebarLink" ng-class="{'collapsed' : collapsed}" ng-click="go('/myEvents')">
            <md-button class='active'>
                <i class="fa fa-calendar-o"></i>
                My Events
            </md-button>
        </li>
        <li class="sidebarLink" ng-class="{'collapsed' : collapsed}" ng-click="go('/events/create')">
            <md-button>
                <i class="fa fa-calendar-plus-o"></i>
                Create Event
            </md-button>
        </li>
    </ul>
</div>
<!--
<div ng-show="curEventId">
    <div class="sidebarSectionTitle">Event</div>
    <div class="sidebarLink" ng-class="{'collapsed' : collapsed}" ng-click="go('/events/'+curEventId+'/overview')">
        <i class="fa fa-list-alt"></i>
        <div class="sidebarText">Overview</div>
    </div>
    <div class="sidebarLink" ng-class="{'collapsed' : collapsed}" ng-click="go('/events/'+curEventId+'/manage')">
        <i class="fa fa-list"></i>
        <div class="sidebarText">Manage</div>
    </div>
    <div class="sidebarLink" ng-class="{'collapsed' : collapsed}" ng-click="go('/events/'+curEventId+'/attendees')">
        <i class="fa fa-users"></i>
        <div class="sidebarText">Attendees</div>
    </div>
    <div class="sidebarLink" ng-class="{'collapsed' : collapsed}" ng-click="go('/events/'+curEventId+'/reports')">
        <i class="fa fa-area-chart"></i>
        <div class="sidebarText">Reports</div>
    </div>
    <div class="sidebarLink" ng-class="{'collapsed' : collapsed}" ng-click="go('/events/'+curEventId+'/utilities')">
        <i class="fa fa-cogs"></i>
        <div class="sidebarText">Utilities</div>
    </div>
</div>

<div class="curEvent" ng-show="curEventId">
    <div>Current Event: {{curEventId}}</div>
</div>
-->