<div class='homePage'>
    <div class='row'>
        <div class='col-md-6 action'>
            <md-button class="md-raised">Scan</md-button>
        </div>
         <div class='col-md-6 action'>
            <md-button class="md-raised">Purchase</md-button>
        </div>
    </div>
     <div class='row'>
        <div class='col-md-6 action'>
            <md-button class="md-raised">Refund</md-button>
        </div>
         <div class='col-md-6 action'>
            <md-button class="md-raised">Will Call</md-button>
        </div>
    </div>
</div>