.loginContainer
{


	.cardContainer{

	padding-top: 17vh;


	md-card-header{padding:0;}

	.loginInputContainer{
		padding-left:20px;
		padding-right:20px;
		md-input-container{display:block;}
	}

	.forgotPasswordLink{
		padding-left:6px;
		padding-top:6px;
	}

	.md-raised{
		background-color: @MT_RED;
		color: @MT_WHITE
	}

	}
}

