<md-card class="eventCreateCard">
    <md-content layout-padding>
        <form>
            <md-input-container>
                <label>Event Title</label>
                <input class="eventTitle" ng-model="event.title"></input>
            </md-input-container>
            <md-input-container>
                <label>Event Location</label>
                <input class="eventLocation" ng-model="event.location" type="text"></input>
            </md-input-container>

            <md-datepicker md-placeholder="Event Date" ng-model="event.date"></md-datepicker>

            <md-input-container>
                <label>Event Time</label>
                <input class="eventTime" ng-model="event.time" type="time"></input>
            </md-input-container>
        </form>
    </md-content>
</md-card>