<div class="eventOverviewContainer" layout="column">
    <div layout="row" flex>
        <md-card class="eventOverview" flex>
            <md-toolbar>Event Overview</md-toolbar>
            <img class="eventImage" ng-src="http://placehold.it/1068x200" />
            <div class="eventInfo">
                <div>Eventid: {{event.id}}</div>
                <div>Name: {{event.title}}</div>
                <div>Description: {{event.description}}</div>
                <div>Location: {{event.location}}</div>
                <div>Start Time: {{event.startDateTime}}</div>
                <div>End Time : {{event.endDateTime}}</div>
            </div>
        </md-card>
    </div>
    <div layout="row" flex>
        <md-card flex layout="column">
            <md-toolbar>Ticket Types</md-toolbar>
        </md-card>
        <md-card flex layout="column" class="attendeesCard">
            <md-toolbar>Attendees</md-toolbar>
            <md-card-content flex>
                <md-list>
                    <md-list-item class="attendee" ng-repeat="u in attendees">
                        <div class="attendeeName">{{u.name}}</div>
                        <div class="numTickets md-secondary">{{$index}}</div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>