<div class='container eventPage'>
    <div class='row'>
        <div class='col-md-12 image'>
            <div class='info'>
                <div class='date'>
                    <div class='month'>
                        Mar
                    </div>
                    <div class='day'>
                        12
                    </div>
                </div>
                <div class='title'>
                    Birthday Party / Kegs & Eggs / Erin Express
                </div>
            </div>
            <img src='https://scontent-iad3-1.xx.fbcdn.net/hphotos-xpl1/t31.0-8/12771852_10153468456613997_5678007364971732471_o.jpg' />
        </div>
    </div>
    <div class='row actions'>
        <div class='col-md-3 active'>
            Home
        </div>
        <div class='col-md-3'>
            About
        </div>
        <div class='col-md-3'>
            Location
        </div>
        <div class='col-md-3'>
            Tickets
        </div>
    </div>
</div>