
<div layout="row" class="loginContainer" layout-sm="column" layout-align="center center" layout-wrap>
   <md-content layout-gt-sm="row" layout-padding>
   <form>
      <div class="group">
         <div class="cardContainer" flex flex-gt="50" layout="column">
            <md-card>
               <md-card-header>
                  <img src="http://placehold.it/450x125/c23b22/ffffff?text=Mr+Tikit"/>
               </md-card-header>
               <md-card-content>
                  <div class="loginInputContainer">
                     <md-input-container> 
                        <label>Email</label>
                        <input ng-model="user.email" type="email">
                     </md-input-container>
                     <md-input-container>
                        <label>Password</label>
                        <input ng-model="user.password" type="password">
                     </md-input-container>
                  </div>

                  <section layout="row" layout-sm="column"  layout-wrap>
                     <md-button class="md-raised" ng-click="login()">Sign In</md-button>
                  </section>
                  <div class="forgotPasswordLink" layout="row" layout-sm="column" layout-wrap>
                     <a href="memes.com">  Forgot Password? </a>
                  </div>
                </md-content>
            </md-card>
         </div>
      </div>
   </form>
</div>
</md-content>
</div>