 
 <md-content layout-gt-sm="row" layout-padding>
  <form>
  <div class="group">

    <div>
      <md-input-container>
        <label>Email</label>
        <input ng-model="user.email" type="email">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input ng-model="user.password" type="password">
      </md-input-container>
    </div>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised" ng-click="login()">Sign In</md-button>
    </section>
    </div>
    </form>
    <div>
    Forgot password? Click
    <a href="memes.com"> here! </a>
    </div>
</md-content>

