<div class="row">
    <div class="landing col-lg-12">
        <div class="row">
            <div class="landingText col-lg-12">Events made Simple</div>
            <div class="googleplay col-lg-2 col-lg-offset-4"></div>
            <div class="appstore col-lg-2"></div>
        </div>
    </div>
    <div class="col-lg-4 roundIconContainer center">
        <div class="callout"><i class="fa fa-4x fa-check calloutIcon"></i></div>
        <div class="calloutHeader">Simple</div>
        <div class="calloutText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at diam diam.</div>
    </div>
    <div class="col-lg-4 roundIconContainer center">
        <div class="callout"><i class="fa fa-4x fa-server calloutIcon"></i></div>
        <div class="calloutHeader">Reliable</div>
        <div class="calloutText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at diam diam.</div>
    </div>
    <div class="col-lg-4 roundIconContainer center">
        <div class="callout"><i class="fa fa-4x fa-usd calloutIcon"></i></div>
        <div class="calloutHeader">Affordable</div>
        <div class="calloutText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at diam diam.</div>
    </div>
    <div class="manage col-lg-12"></div>
    <div class="tour col-lg-12">
        <div class="row">
            <div class="col-lg-12 center tourHeader">How It Works</div>
            <div class="col-lg-6"><img class="tourImage" ng-src="../images/MacBook-Silver.png"/></div>
            <div class="col-lg-6">
                <div class="tourTitle">Desktop</div>
                <div class="tourText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed 
augue nisi, posuere eu nisi vitae, sagittis tristique augue. 
Curabitur sagittis et ipsum id congue. Ut euismod urna ac 
ullamcorper pretium.</div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 subscribe"></div>
</div>