<div class="myTicketsView container">
    <div class="row">

        <md-content>
            <h1>{{event.title}}</h1>
            <div class="start">Start: {{event.startDateTime | date : 'EEEE dd/MM/yyyy hh:mm a'}}</div>
            <div class="end">End: {{event.endDateTime | date : 'EEEE dd/MM/yyyy hh:mm a'}}</div>
            <div class="location">Location: {{event.location}}</div>

            <qrcode data="{{ticket.scanId}}"></qrcode>

            <div class="barcodeContainer">
                <img id="barcode" class="barcode" />
            </div>
        </md-content>
    </div>
</div>