.footer {
    background-color: @MT_LGRAY;
    padding-top: 2em;
    padding-bottom: 2em;
    position: relative;
    text-align: center;
}

.footerText {
    display: inline;
    color: @MT_GRAY;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    font-size: 20px;
    font-family: @MT_FONT_TEXT;
}