md-toolbar.header {
    background-color: @MT_WHITE;
    color: @MT_GRAY;
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    .headerItem {
        cursor: pointer;
        display: inline;
        margin-right: 20px;
        font-size: 15px;
        .headerItemText {
            display: inline;
            margin-right: 10px;
        }
        .fa {
            font-size: 25px;
            line-height: inherit;
        }
    }
    .right {
        float: right;
    }
}