.header {
    line-height: 50px;
    background-color: #22242B;
    color: #cccccc;
    .headerItem {
        cursor: pointer;
        display: inline;
        margin-right: 20px;
        font-size: 15px;
        .headerItemText {
            display: inline;
            margin-right: 10px;
        }
        .fa {
            font-size: 20px;
            line-height: 20px;
        }
        &:focus {
            border: 0;
            outline: 0;
        }
    }
    .menubutton {
        padding-left: 15px;
    }
}