.sidebarContainer {
    .sideHeader {
        background-color: @MT_DRED;
        color: @MT_WHITE;
        font-family: @MT_FONT_LOGO;
        text-align: center;
        font-size: 36px;
    }
    background-color: @MT_RED;
    .sidebar {
        background-color: @MT_RED;
        color: @MT_WHITE;
    }
}